.message {
    padding: 10px;
    margin: 10px;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 21px -16px 11px -9px rgba(34, 60, 80, 0.29);
    background-color: rgb(182, 230, 176);
    p {
        word-wrap: break-word;
    }
    span {
        display: block;
        padding: 5px;
        height: 35px;
        border-radius: 20px;
        background-color:rgb(187, 223, 235);
        color: rgb(13, 12, 17);  
        text-align: center;
}
   
}
.myMessage {
    align-self: flex-end;
    background-color: rgb(240, 231, 136);
}

.messageBox { 
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 21px -26px 11px -23px rgba(20, 43, 51, 0.22);
    background-color:rgb(243, 243, 243)
}

